<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mobile from Aliexpress</title>
</head>
<body>
 <h2>Opa, bachka</h2>
 <h2>Hello</h2>
 <table class="table">
     <thead>
     <tr>
         <th>id</th>
         <th>Username</th>
         <th>Password</th>
         <th>Email</th>
     </tr>
     </thead>
     <tbody>
     <tr th:each="listing:${listings}">
         <td th:text="${listing.getId()}">s</td>
         <td th:text="${listing.getTitle()}"></td>
         <td th:text="${listing.getPrice()()}"></td>
         <td th:text="${listing.getCharacteristics()}"></td>
         <td th:text="${listing.getComment()}"></td>
     </tr>
     </tbody>
 </table>
</body>
</html>